{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}


{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }}</small><br>
<small>Published Date: {{ post.post_date}}</small><br>
<hr>
<img src="{{ post.image.url }}" class="img-fluid" alt="...">
<br><br><hr>
{{ post.body|safe }}
<br>


<br/><br/>
{% if user.is_authenticated %}

    <a class="btn btn-primary" href="{% url 'update_post' post.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}
<a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
{% endblock %}

