{% extends 'base.html' %}

{% block content %}
<h2>Blog Post</h2>
<hr>
<ul>
{% for post in object_list %}
<!--    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - -->
<!--        <a href="{% url 'category' post.category|slugify %}">-->
<!--            <button class="btn btn-primary">{{ post.category }}</button></a> - -->
<!--         {{ post.author }}-->

    <div  class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="{{ post.image.url }}" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"><a class="link-dark" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h5>
    <p><a class="link-dark" href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></p>
      <small>Published Date: {{ post.post_date}}</small><br>
    <small>Author: {{ post.author }}</small><br>

    <p>{{ post.body|slice:":200"|safe }}....</p>
  </div>
</div>



<!--        <small><a href="{% url 'update_post' post.pk %}">{Edit}</a></small> - -->
<!--        <small><a href="{% url 'delete_post' post.pk %}">{Delete}</a></small>-->
        <br/>



    </li>
    <hr>
{% endfor %}
</ul>



{% endblock %}

